/* CSS Document */
html {
	--color: whitesmoke
}

body {
	background: url("../media/home-about/100_0186.webp") no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.outer_a {
	display: flex;
  	justify-content: center;
	text-align: center;
	align-items: center;
}

.inner_a {
	color: var(--color);
	mix-blend-mode: difference;
}

h1,
h2,
p {
	font-weight: 300;
}

a:link {
	color: var(--color);
	text-decoration: none;
}

a:hover {
	color: cornflowerblue;
	font-weight: 700;
}

a:

