/* CSS Document */
body { 
  background: url("../media/home/100_148.webp") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}